---
layout: default
title: Buy
permalink: /buy
nav: true
---
{% assign count = 0 %}
{% assign new_row = true %}

{% for item in site.data.products %}
    {% if new_row == true %}
    <div class="row">
    {% assign new_row = false %}
    {% endif %}
        <div class="col-md-4">
            {% include item.html %}
            <br>
        </div>
        {% assign count = count | plus: 1 %}
        {% if count == 3 or forloop.last %}
            {% assign new_row = true %}
        {% endif %}
    {% if new_row == true %}
    </div>
    {% assign count = 0 %}
    {% endif %}
{% endfor %}
<hr>
<h2>Also available at:</h2>
<div class="row">
    <div class="col-md-4">
        <div class="card">
            <img class="card-img-top" src="{{"/img/wildwood.jpg" | absolute_url }}" alt="Wildwood Arts" height="200" width="300" style="object-fit: contain">
            <div class="card-body">
                <h5 class="card-title">Wildwood Arts</h4>
                <a href="http://www.wildwoodartsdartmoor.co.uk/" target="_blank" class="btn btn-primary"><i class="fas fa-external-link-alt fa-fw fa-lg"></i> Visit</a>
            </div>
        </div>
    </div>
</div>
