<div class="card border-primary h-100">
    {%- if service.img -%}<img class="card-img-top" src="assets/gallery/{{service.img[0]}}" alt="{{service.name}}" height="200" width="300" style="object-fit: cover">{%- endif -%}
    <div class="card-body">
        <h5 class="card-title">{{service.name}} {% if service.new %}<span class="badge badge-primary">New</span>{% endif %}</h5>
        <h6 class="card-subtitle mb-2 text-muted">{{service.price}} {{service.for}}</h6>
        <p class="card-text">{{service.description}}</p>
    </div>
</div>