@import url('https://fonts.googleapis.com/css?family=Great+Vibes');

h1 {
    font-family: 'Great Vibes', cursive;
    color: white;
    text-shadow: 0 0 5px black;
}

.lead {
    color: white;
    text-shadow: 0 0 5px black;
}